@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root{
  --blue: #0B2C3D;
  --black: #000000;
  --orange: #FF5A3C;
  --white: #FFFFFF;
}

/* Globals */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  background-color: #F3F3F3;
}

a{
  text-decoration: none;
}



input, button, textarea{
  font-family: 'Poppins', sans-serif;
  resize: none;
}

button{
  border: none;
  border-radius: 50px;
  padding: 0.7rem 2rem;
  cursor: pointer;
  background-color: var(--white);
}

.active{
  background-color: var(--orange);
  color: var(--white);
}

/* Container */
.container{
  padding: 0rem 1rem;
}

@media screen and (min-width: 960px) {
  .container{
    max-width: 1200px;
    margin: 0 auto;
  }
}

/* Menu Animation */
.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
